# BEGIN hw.config

exec --no-startup-id "/usr/bin/blueman-applet"
exec_always --no-startup-id "redshift -x; redshift -o -O 4500"
exec_always --no-startup-id "xinput set-prop 'TPPS/2 Synaptics TrackPoint' 'libinput Accel Speed' -0.7"
# CMD: pkill redshift; redshift -x; redshift -o -O 4500 -m randr:crtc=0

bindsym $mod+Return exec alacritty -o font.size=12
bindsym $win+P exec ~/.config/i3/scripts/hdmi_setup --toggle
bindsym $win+Tab exec ~/.config/i3/scripts/hdmi_setup --switch_mode
bindsym XF86MonBrightnessUp exec ~/.config/i3/hw_model/thinkpad/xbacklight --inc 2
bindsym XF86MonBrightnessDown exec ~/.config/i3/hw_model/thinkpad/xbacklight --dec 2

# END hw.config
