# BEGIN hw.config

exec_always --no-startup-id xautolock -time 5 -locker "~/.config/i3/scripts/i3lock_blur.sh" -detectsleep -notify 60

bindsym $mod+Return exec /home/jcosmao/.local/bin/alacritty -o font.size=10.5
# CMD: pkill redshift; redshift -x; redshift -o -O 4500 -m randr:crtc=0

# bindsym XF86MonBrightnessUp exec ~/.config/i3/hw_model/dell/xbacklight --inc 500
# bindsym XF86MonBrightnessDown exec ~/.config/i3/hw_model/dell/xbacklight --dec 500
# exec_always --no-startup-id "~/.config/i3/hw_model/dell/touchpad_setup.sh"


# END .hw.config
