# BEGIN hw.config

bindsym $mod+Return exec /home/jcosmao/.local/bin/alacritty -o font.size=10.5
bindsym XF86MonBrightnessUp exec ~/.config/i3/hw_model/dell/xbacklight --inc 500
bindsym XF86MonBrightnessDown exec ~/.config/i3/hw_model/dell/xbacklight --dec 500
exec_always --no-startup-id "~/.config/i3/hw_model/dell/touchpad_setup.sh"
# CMD: pkill redshift; redshift -x; redshift -o -O 4500 -m randr:crtc=0

exec_always --no-startup-id xautolock -time 5 -locker "~/.config/i3/scripts/i3lock_blur.sh" -detectsleep -notify 60

# ex: i3-save-tree --workspace 10 > ~/.config/i3/workspace_10.json
# then modify swallow (xprop tools)
# i3-msg append_layout ~/.config/i3/workspace_10.json
#exec_always --no-startup-id "i3-msg 'workspace 1; append_layout ~/.config/i3/workspace_1.json'"
#exec_always --no-startup-id "i3-msg 'workspace 10; append_layout ~/.config/i3/workspace_10.json'"

# END hw.config
