[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-paste-easy"]
	path = vim/bundle/vim-paste-easy
	url = https://github.com/roxma/vim-paste-easy.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/python_match.vim"]
	path = vim/bundle/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
