[Desktop Entry]
Name=GPG reload agent
Comment=Reload gpg agent
Exec=alacritty -T gpg_reload -e bash -c "export GPG_TTY=$(tty); echo RELOADAGENT | gpg-connect-agent && echo gpg_passphrase | gpg --clearsign"
Type=Application
Terminal=false
