[Desktop Entry]
Name=Neovim
Comment=Run nvim
Keywords=Text;Editor;Plaintext;Write;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=alacritty -T nvim -e sh -c 'THEME=light nvim %u'
Type=Application
Icon=gvim
Terminal=false
Categories=Development;TextEditor;
