# BEGIN home_office.layout.config

exec_always --no-startup-id "autorandr --force home_office"

workspace 1 output <DP_1>
workspace 2 output <HDMI_1>
workspace 3 output <HDMI_1>
workspace 4 output <HDMI_1>
workspace 5 output <HDMI_1>
workspace 6 output <HDMI_1>
workspace 7 output <HDMI_1>
workspace 8 output <HDMI_1>
workspace 9 output <HDMI_1>
workspace 10 output <eDP>

workspace_auto_back_and_forth no

# force move
exec_always --no-startup-id "i3-msg '[workspace=1] move workspace to output <DP_1>'"
exec_always --no-startup-id "i3-msg '[workspace=2] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=3] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=4] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=5] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=6] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=7] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=8] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=9] move workspace to output <HDMI_1>'"
exec_always --no-startup-id "i3-msg '[workspace=10] move workspace to output <eDP>'"

# END home_office.layout.config
