# BEGIN Dell.hw.config

# bindsym $mod+Return exec /home/jcosmao/bin/termite
bindsym $mod+Return exec /home/jcosmao/.local/bin/alacritty
# bindsym $mod+r exec --no-startup-id i3-dmenu-desktop
bindsym $mod+r exec --no-startup-id rofi -show drun
bindsym $mod+w exec --no-startup-id rofi -show window
bindsym XF86MonBrightnessUp exec ~/bin/xbacklight --inc 500
bindsym XF86MonBrightnessDown exec ~/bin/xbacklight --dec 500
exec_always --no-startup-id "~/.config/i3/scripts/touchpad_setup.sh"

# ex: i3-save-tree --workspace 10 > ~/.config/i3/workspace_10.json
# then modify swallow (xprop tools)
# i3-msg append_layout ~/.config/i3/workspace_10.json
#exec_always --no-startup-id "i3-msg 'workspace 1; append_layout ~/.config/i3/workspace_1.json'"
#exec_always --no-startup-id "i3-msg 'workspace 10; append_layout ~/.config/i3/workspace_10.json'"

# END Dell.hw.config
