# BEGIN Timibook.hw.config

exec --no-startup-id "/usr/bin/blueman-applet"
exec --no-startup-id "pkill redshift; redshift -l 48.00:-4.00 -m randr -t 5000:4000"

bindsym $mod+Return exec alacritty
bindsym $mod+r exec --no-startup-id rofi -show drun
bindsym $mod+w exec --no-startup-id rofi -show window
bindsym XF86MonBrightnessUp exec /usr/bin/xbacklight -inc 5
bindsym XF86MonBrightnessDown exec /usr/bin/xbacklight -dec 5
bindsym $win+P exec ~/.config/i3/scripts/hdmi_setup --toggle
bindsym $win+Tab exec ~/.config/i3/scripts/hdmi_setup --switch_mode

# END Timibook.hw.config
