# BEGIN Timibook.hw.config

bindsym $mod+Return exec termite
bindsym $mod+r exec --no-startup-id dmenu_recency
bindsym XF86MonBrightnessUp exec /usr/bin/xbacklight -inc 5
bindsym XF86MonBrightnessDown exec /usr/bin/xbacklight -dec 5
bindsym $win+P exec ~/.config/i3/scripts/hdmi_setup --toggle
bindsym $win+Tab exec ~/.config/i3/scripts/hdmi_setup --switch_mode

# END Timibook.hw.config

