# BEGIN laptop.layout.config

exec_always --no-startup-id "autorandr --skip-options gamma --force <LAYOUT_NAME>"
# force all other screen off (autorandr bug..)
exec_always --no-startup-id "for screen in $(xrandr  | grep connected | cut -d' ' -f1 | grep -v '<eDP>'); do xrandr --output $screen --off; done"

workspace 1 output <eDP>
workspace 2 output <eDP>
workspace 3 output <eDP>
workspace 4 output <eDP>
workspace 5 output <eDP>
workspace 6 output <eDP>
workspace 7 output <eDP>
workspace 8 output <eDP>
workspace 9 output <eDP>
workspace 10 output <eDP>

workspace_auto_back_and_forth no

# force move
exec_always --no-startup-id "i3-msg '[workspace=1] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=2] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=3] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=4] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=5] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=6] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=7] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=8] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=9] move workspace to output <eDP>'"
exec_always --no-startup-id "i3-msg '[workspace=10] move workspace to output <eDP>'"

# END
